<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>Children List</h1>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>#</th>
          <th>Gender</th>
          <th><%= link_to 'Age', child_index_path(sort: 'age')%></th>
          <th>School</th>
          <th>Grade</th>
          <th>Time</th>
          <th>Competitions</th>
          <th>Description</th>
          <th>Group #</th>
          <th>Title</th>
          <th>More</th>
        </tr>
      </thead>
      <tbody>
        <% @children.each do |child| %>
          <tr>
            <td><%= child.id %></td>
            <td><i class="fa fa-<%= child.gender.downcase %>"></i></td>
            <td><%= child.age %></td>
            <td><%= child.school %></td>
            <td><%= child.grade %></td>
            <td><%= @group.time_compare(child.time_slot) %></td>
            <td><%= child.competitions %></td>
            <td><%= child.description %></td>
            <% session[:child_id] = @child.id %>
            <% if child.group.nil? %>
              <td></td>
              <td></td>
              <td><%= link_to "Send invitation", {:controller => 'invitation', :action => 'group_send_inv_to_child', :id => @group.id, :rec_id => child.id}, data: {:confirm => 'Are you sure?'}  %></td>
            <% else %>
              <td><%= child.group_id %></td>
              <td><%= child.group.title %></td>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
