<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Invitations to my children </h2>
    <% if @rinv.empty? %>
      <p align=center>None</p>
    <% else %>
      <table class='table table-hover'>
        <thead>
          <tr>
            
            <th>Receiver</th>
            <th>Group</th>
            <th>Mentor</th>
            <th>Member</th>
            <th></th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @rinv.each do |inv| %>
            <tr>
              
              <td><%= inv.receiver.name %></td>
              <% if inv.group.nil? %>
                <td></td>
                <td></td>
                <td></td>
              <% else %>
                <td><%= inv.group.title %></td>
                <% if inv.group.mentor.nil? %>
                  <td></td>
                <% else %>
                  <td><%= inv.group.mentor.name %></td>
                <% end %>
                <td><%= inv.group.members %></td>
              <% end %>
              <td></td>
              <% if inv.status == "Pending"%>
              <td><%= link_to "Accept", invitation_child_accept_group_path(inv) %> or <%= link_to "Decline", invitation_decline_inv_path(inv) %></td>
              <% else %>
              <td><%= inv.status %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>


<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Sent Request from my children</h2>
    <% if @srequest.empty? %>
      <p align=center>None</p>
    <% else %>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Sender</th>
            <th>Group</th>
            <th>Mentor</th>
            <th>Member</th>
            <th></th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @srequest.each do |r| %>
            <tr>
              <td><%= r.sender.name %></td>
              <% if r.group.nil? %>
                <td></td>
                <td></td>
                <td></td>
              <% else %>
                <td><%= r.group.title %></td>
                <% if r.group.mentor.nil? %>
                  <td></td>
                <% else %>
                  <td><%= r.group.mentor.name %></td>
                <% end %>
                <td><%= r.group.members %></td>
              <% end %>
              <td></td>
              <% if r.status == "Pending"%>
              <td><%= link_to "Cancel", invitation_cancel_inv_path(r) %></td>
              <% else %>
              <td><%= r.status %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>


<%= link_to "Back", parent_path %>