<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1">
    <div class="col-sm-8 col-sm-offset-4">
      <h1 align="center" class="animated fadeInDown">New Child</h1><br><br>
    </div>
    
    <div class="Sign_Form">
      <%= form_for(:child, :url => {:controller => 'child', :action => 'create'}, :html => {:class => "form-horizontal"}) do |f| %>
        <div class="form-group">
          <label for="inputFirstName" class="col-sm-4 control-label">First Name:</label>
          <div class="col-sm-8 col-lg-6 col-lg-offset-1"><%= f.text_field :firstname, :class => 'form-control'%></div>
        </div>
        <div class="form-group">
          <label for="inputLastName" class="col-sm-4 control-label">Last Name:</label>
          <div class="col-sm-8 col-lg-6 col-lg-offset-1"><%= f.text_field :lastname, :class => 'form-control' %></div>
        </div>
        <div class="form-group">
          <label for="inputGender" class="col-sm-4 control-label">Gender:</label>
          <div class="col-sm-8 col-lg-6 col-lg-offset-1">
            <label class="radio-inline"><%= f.radio_button :gender, 'male'%> Male</label>
            <label class="radio-inline"><%= f.radio_button :gender, 'female'%> Female</label>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAge" class="col-sm-4 control-label">Date of Birth:</label>
          <div class="col-sm-8 col-lg-6 col-lg-offset-1"><%= f.date_field :date_of_birth, :class => 'form-control' %>Date format: mm/dd/yyyy</div>
        </div>
        <div class="form-group">
          <label for="inputSchool" class="col-sm-4 control-label">School:</label>
          <div class="col-sm-8 col-lg-6 col-lg-offset-1"><%= f.text_field :school , :class => 'form-control' %></div>
        </div>
        <div class="form-group">
          <label for="inputGrade" class="col-sm-4 control-label">Grade:</label>
          <div class="col-sm-8 col-lg-6 col-lg-offset-1"><%= f.text_field :grade , :class => 'form-control' %></div>
        </div>
        <div class="form-group">
          <label for="inputCompetitions" class="col-sm-4 control-label">Competitions:</label>
           <div class="col-sm-8 col-lg-6 col-lg-offset-1">
            <label class="radio-inline"><%= f.radio_button :competitions, 'FLL'%> FIRST LEGO League</label>
            <label class="radio-inline"><%= f.radio_button :competitions, 'Junior FLL'%> FIRST LEGO League Jr.</label>
          </div>
        </div>
        <div class="form-group">
          <label for="inputDescription" class="col-sm-4 control-label">Description:</label>
          <div class="col-sm-8 col-lg-6 col-lg-offset-1"><%= f.text_area :description, :class => 'form-control'  %></div>
        </div>
        <div class='form-group'>
          <label for="inputTime" class = "col-sm-4 control-label">Time Available:</label>
          <div class='time-board time-board-input time-board-hover' value='' inputname='child[time_slot]'></div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-4 checkbox">
            <label class="checkbox-inline">
              <%= f.check_box :visible%> <b>Visible</b>
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-4">
            <%= f.submit "Create" , :class => 'btn btn-success btn-block'%>
            <%= link_to "Back", parent_path, :class => 'btn btn-block btn-default' %>
          </div>
        </div>
      <% end %>
    </div>
    <% if @child.errors.any? %>
      <ul class="Signup_Errors">
        <% for message_error in @child.errors.full_messages %>
          <li>* <%= message_error %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
