<div class='row'>
  <div class="col-sm-12">
    <h1 align="center" class="animated swing" style=color:#339900>Create Child Account</h1>
    <br/>
    <div class="Sign_Form">
      <%= form_for(:child, :url => {:controller => 'child', :action => 'create'}, :html => {:class => "form-horizontal"}) do |f| %>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <div class="form-group">
            <label class="control-label">All fields are required unless marked as 'Optional'</label>
          </div>
          <div class="form-group">
            <%= f.text_field :firstname, :placeholder =>'Firstname',:class => 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.text_field :lastname, :placeholder =>'Lastname',:class => 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.select(:gender, ['Male' , 'Female'], {prompt:"Gender"},{:class => 'form-control'})%>
          </div>
          <div class="form-group">
            <%= f.date_field :date_of_birth, :placeholder =>'Date of Birth',:class => 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.text_field :school, :placeholder =>'School',:class => 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.text_field :grade, :placeholder =>'Grade',:class => 'form-control'%>
          </div>
          <div class="form-group">
            <label for="inputCompetitions" class="control-label">Competitions:</label>
            <br/>
            <label class="radio-inline"><%= f.radio_button :competitions, 'FLL'%> FIRST LEGO League</label>
            <label class="radio-inline"><%= f.radio_button :competitions, 'Junior FLL'%> FIRST LEGO League Jr.</label>
          </div>
          <div class="form-group">
            <label for="inputVisibility" class="control-label">Visibility:</label>
            <br/>
            <div class="checkbox">
              <label class="checkbox-inline">
                <%= f.check_box :visible%> Other groups can see you
            </label>
            </div>
          </div>
          <div class="form-group">
            <label for="inputDescription" class="control-label">Description (Optional):</label>
            <br/>
            <%= f.text_area :description, :placeholder =>'More About Yourself',:class => 'form-control'%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <div class="form-group">
            <label for="inputTimeslot" class="control-label">Time Available</label>
            <br/>
            <div class='time-board time-board-input time-board-hover' value='<%= @child.time_slot %>' inputname='child[time_slot]'></div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <div class="form-group">
            <%= f.submit "CREATE",:class => 'btn btn-block btn-success' %>
            <%= link_to "CANCEL", parent_path, :class =>'btn btn-block btn-default'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% if @child.errors.any? %>
  <ul class="Signup_Errors">
    <% for message_error in @child.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
  </ul>
<% end %>
</div>
</div>
