<h1>Child Panel</h1>

ID: <%= @child.id %><br />
Name: <%= @child.firstname %> <%= @child.firstname %><br />
Gender: <%= @child.gender %><br />
Age: <%= @child.age %><br />
School: <%= @child.school %><br />
Grade: <%= @child.grade %><br />
Time: <%= @child.time_slot %><br />
Competitions: <%= @child.competitions %><br />
Description: <%= @child.description %><br />
Visible: <%= @child.visible %><br />
<br />
Parent: <%= @child.parent.firstname %> <%= @child.parent.lastname %><br />
Group: <%= @group %><br />
Mentor: <%= @mentor %><br />
