<!-- <% @page_title = "UserAuth | Login" -%> -->
<div class='row'>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">
    <div class="parent-login", style="padding-top:15%;">
      <div class="list-inline">
        <%= link_to '<i class="fa fa-facebook fa-fw"></i><span class="network-name"> Log in with facebook</span>'.html_safe, "/auth/facebook", id: "sign_in" , :class => 'btn btn-default btn-block', :style => "background-color:#3B5998;color:white;border-color:#2B4988;" %>
        <div style="width: 100%; height:18px;"></div>
        <div style="width: 100%; height:13px; border-bottom: 1px solid silver; text-align: center;">
           <span style="font-size: 15px; background-color: white; padding: 0 10px;">
              or
           </span>
        </div>
       
        <div class= "Sign_Form" style="padding:30px 16px 16px">
               <%= form_tag({:controller => 'welcome', :action => 'login_attempt'}, {:class => "form-horizontal"}) do %>
                <div class="form-group">
                  <%= text_field_tag(:username, nil, placeholder: 'Username',class: 'form-control') %>
               </div>
               <div class="form-group">
                  <%= password_field_tag( :login_password, nil, placeholder: 'Password',class: 'form-control' )%>
              </div>
              <div class="form-group">
                  <%= submit_tag("LOG IN", class: 'btn btn-block btn-success') %>
              </div>
              <h3 style="text-align:center;font-size:100%;"><%= link_to "Forgot your password?", new_password_reset_path, :style => "color:#339900;" %></h3>
              <h3 style="text-align:center;font-size:100%;">Don't have an account? <%= link_to "Sign up", new_rgluser_path(:role => @role), :style => "color:#339900;" %></h3>
            <% end %>
         </div>
      </div>
    </div>
 </div>
 </div>