<h1>Mentor Update Panel</h1>

<%= form_for @mentor, :method => :put do |f| %>
  First Name: <%= f.text_field :firstname %><br />
  Last Name: <%= f.text_field :lastname %><br />
  Phone: <%= f.telephone_field :phone %><br />
  Email: <%= f.email_field :email %><br />
  Date of Birth: <%= f.date_field :date_of_birth %><br />
  School: <%= f.text_field :school %><br />
  grade: <%= f.text_field :grade %><br />
  Time Slot: <div class='time-board time-board-input time-board-hover' value='<%= @mentor.time_slot %>' inputname='mentor[time_slot]'></div>
  Description: <%= f.text_field :description %><br />
  <div class="form-group">
    <label for="inputCompetitions" class="col-sm-4 control-label">Competitions:</label>
    <div class="col-sm-8 col-lg-6 col-lg-offset-1">
      <label class="radio-inline"><%= g.radio_button :competitions, 'FLL'%> FIRST LEGO League</label>
      <label class="radio-inline"><%= g.radio_button :competitions, 'Junior FLL'%> FIRST LEGO League Jr.</label>
    </div>
  </div>
  <%= f.submit "Update"%>
<% end %>
<%= link_to "Back", mentor_path %>