<h1>Mentor Dashboard</h1>

ID: <%= @mentor.id %><br />
Name: <%= @mentor.name %><br />
Phone: <%= @mentor.phone %><br />
Email: <%= @mentor.email %><br />
Age: <%= @age %><br />
Last Login at: <%= @user.last_login_time %><br />
Description: <%= @mentor.description %><br />

<h2>Group</h2>
<% if @groups.empty? %>
  
<% else %>
<table>
  <tr>
    <th>Group</th>
    <th></th>
  </tr>
<% @groups.each do |group| %>
  <tr>
    <td><%= group.title %></td>
    <td><%= link_to "Quit the group", mentor_quit_group_path(group), data: {:confirm => 'Are you sure?'} %></td>
  </tr>
<% end %>
</table>
<% end %>

<hr>
  </div>
</div>
<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Inbox</h2>
    <% if @rinvs.empty? %>
      <p align=center>None</p>
    <% else %>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Sender</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @rinvs.each do |rinv| %>
            <tr>
              <td><%= rinv.group_id %></td>
              <td><%= rinv.status %></td>
              <% if rinv.status == 'Pending' %>
              <td><%= link_to "Accept", groupinvs_accept_inv_mentor_path(rinv)%></td>
              <td><%= link_to "Declined", groupinvs_decline_inv_path(rinv)%></td>
            <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <hr>
  </div>
</div>

<hr>
  </div>
</div>
<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Sent Out</h2>
    <% if @sinvs.empty? %>
      <p align=center>None</p>
    <% else %>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Receiver</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @sinvs.each do |sinv| %>
            <tr>
              <td><%= sinv.group_id %></td>
              <td><%= sinv.status %></td>
              <% if sinv.status == "Pending" %>
              <td><%= link_to "Cancel Invitation", groupinvs_cancel_inv_path(sinv)%></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <hr>
  </div>
</div>

<div class='row'>
  <div class='col-sm-8'>
    <div class='time-board time-board-hover' value = '<%=@mentor.time_slot%>' ></div>
  </div>      
</div>
<% session[:mentor_id] = @mentor.id %>
<% if @groups.empty? %>
  <%= link_to "Browse Groups", group_index_path %>
<% end %>
<%= link_to "Update Personal Information", edit_mentor_path(@mentor) %>
<%= link_to "Delete", mentor_path(@mentor), data: {:confirm => 'Are you sure?'}, method: :delete %>
<%= link_to "Log out", welcome_logout_path(@mentor) %>
