<h1>Mentor Dashboard</h1>

ID: <%= @mentor.user_id %><br />
Name: <%= @mentor.name %><br />
Phone: <%= @mentor.phone %><br />
Email: <%= @mentor.email %><br />
Age: <%= @age %><br />
Last Login at: <%= @user.last_login_time %><br />
Description: <%= @mentor.description %><br />

<h2>Group</h2>
<% if @groups.empty? %>

<% else %>
<table>
  <tr>
    <th>Group</th>
    <th></th>
  </tr>
<% @groups.each do |group| %>
  <tr>
    <td><%= group.title %></td>
<<<<<<< HEAD
    <td><%= link_to "Quit the group", mentor_quit_group_path(group), data: {:confirm => 'Are you sure?'}, method: :get %></td>
=======
    <td><%= link_to "Quit the group", mentor_quit_group_path(group), data: {:confirm => 'Are you sure?'} %></td>
>>>>>>> 07fe11ec42b371ffa8e66bffecc60104d8c0cff5
  </tr>
<% end %>
</table>
<% end %>

<%= link_to "Update Personal Information", edit_mentor_path(@mentor) %>
<%= link_to "Delete", mentor_path(@mentor), data: {:confirm => 'Are you sure?'}, method: :delete %>
<%= link_to "Log out", welcome_logout_path(@mentor) %>