<!--<%= link_to "Regular Signup", new_rgluser_path(:role => @role) %> -->
<!-- <div id="user-widget">
    <%= link_to "Parent Sign In", welcome_parent_signin_path %><br/>
    
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
</div>  -->
<div class="row animated fadeIn">
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">
    <div class="parent-login">
      <ul class="list-inline intro-social-buttons">
        <li>
          <%= link_to '<i class="fa fa-user-plus fa-fw"></i><span class="network-name"> Sign up</span>'.html_safe,  new_rgluser_path(:role => @role) , :class => 'btn btn-default btn-lg btn-block '%>
        </li>
        <li>
          <%= link_to '<i class="fa fa-sign-in fa-fw"></i><span class="network-name"> Sign In</span>'.html_safe, welcome_parent_signin_path , :class => 'btn btn-default btn-lg btn-block'%>
        </li>
      </ul>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
      $('body').addClass('parentbg');
  });
</script>
