<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
    <h1>Group Update Panel</h1>
    <%= form_for @group, :method => :put , :html => {:class => "form-horizontal"} do |f| %>
      <div class="form-group">
        <label for="inputTitle" class="col-sm-4 control-label">Title:</label>
        <div class="col-sm-8"><%= f.text_field :title, :class => 'form-control'%></div>
      </div>
      <div class="form-group">
        <label for="inputTime" class="col-sm-4 control-label">Time:</label>
        <div class="col-sm-8"><%= f.text_field :time_slot, :class => 'form-control'%></div>
      </div>
      <div class="form-group">
        <label for="inputCompetition" class="col-sm-4 control-label">Competition:</label>
        <div class="col-sm-8"><%= f.text_field :str_com, :class => 'form-control'%></div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <%= f.submit "Update" , :class => 'btn btn-primary btn-block'%>
          <%= link_to "Back", group_path(@group) , :class => 'btn btn-default btn-block'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
