<h1>Group Information</h1>

<h2>All Groups</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Mentor</th>
    
    <th>Members</th>
    <th>#Members</th>
    <th>Admin</th>
    <th>Available time</th>
    <th>Competition</th>
  </tr>
  <% @groups.each do |group| %>
  <tr>
    <td><%= group.id %></td>
    <td><%= group.title %></td>
    <% if group.mentor.nil? %>
      <td>TBD</td>
    <% else %>
      <td><%= group.mentor.name %></td>
    <% end %>
    
    <td><%= group.members %></td>
    <td><%= group.children.count%></td>
    <%#= group.members.count %>
    <td><%= Parent.find(group.admin_id).name %></td>
    <td><%= group.time_slot %></td>
    <td><%= group.competitions %></td>
    <td><%= link_to "Send Invitation", groupinvs_send_inv_path(:id => group.id, :mentor_id => @mentor.id, :send_by_mentor => true) %></td>
  </tr>
  <% end %>
</table>
<br/>
<% if User.whois(session).role == "Parent" %>
  <%= link_to "Back", parent_path %> 
<% elsif User.whois(session).role == "Mentor" %>
  <%= link_to "Back", mentor_path(@mentor) %>
<% end %>
