<% if @group.need_mentor == true %>
  <div class='row'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2>Sent In</h2>
      <% if @rinvs.empty? %>
        <p align=center>None</p>
      <% else %>
        <div class="table-responsive">
          <table class='table'>
            <thead>
              <tr>
                <th>Sender</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @rinvs.each do |rinv| %>
                <tr>
                  <td><%= link_to rinv.mentor.name, mentors_detail_path(rinv.mentor)%></td>
                  <td><%= rinv.status %></td>
                  <% if rinv.status == "Pending" %>
                    <td><%= link_to "Accept", groupinvs_accept_inv_group_path(rinv)%></td>
                    <td><%= link_to "Decline", groupinvs_decline_inv_path(rinv)%></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2>Sent Out</h2>
      <% if @sinvs.empty? %>
        <p align=center>None</p>
      <% else %>
        <div class="table-responsive">
          <table class='table'>
            <thead>
              <tr>
                <th>Receiver</th>
                <th>Status</th>
                <th>dsfdsf</th>
              </tr>
            </thead>
            <tbody>
              <% @sinvs.each do |sinv| %>
                <tr>
                  <td><%= link_to sinv.mentor.name, mentors_detail_path(sinv.mentor) %></td>
                  <td><%= sinv.status %></td>
                  <% if sinv.status == "Pending" %>
                    <td><%= link_to "Cancel Invitation", groupinvs_cancel_inv_path(sinv)%></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class='row'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2>Sent Invitations from my group</h2>
      <% if @sinvs_to_children.empty? %>
        <p align=center>None</p>
      <% else %>
        <div class="table-responsive">
          <table class='table'>
            <thead>
              <tr>
                <th>Receiver</th>
                <th>Group</th>
                <th>Mentor</th>
                <th>Member</th>
                <th></th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @sinvs_to_children.each do |inv| %>
                <tr>
                  <td><%= link_to inv.receiver.name, child_detail_path(inv.receiver) %></td>
                  <% if inv.group.nil? %>
                    <td></td>
                    <td></td>
                    <td></td>
                  <% else %>
                    <td><%= inv.group.title %></td>
                    <% if inv.group.mentor.nil? %>
                      <td></td>
                    <% else %>
                      <td><%= inv.group.mentor.name %></td>
                    <% end %>
                    <td><%= inv.group.members %></td>
                  <% end %>
                  <td></td>
                  <% if inv.status == "Pending"%>
                    <td><%= link_to "Cancel", invitation_cancel_inv_path(inv) %></td>
                  <% else %>
                    <td><%= inv.status %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2>Received requests to my group</h2>
      <% if @rrequest.empty? %>
        <p align=center>None</p>
      <% else %>
        <div class="table-responsive">
          <table class='table'>
            <thead>
              <tr>
                <th>Sender</th>
                <th>Group</th>
                <th>Mentor</th>
                <th>Member</th>
                <th></th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @rrequest.each do |r| %>
                <tr>
                  <td><%= link_to r.sender.name, child_detail_path(r.sender) %></td>
                  <% if r.group.nil? %>
                    <td></td>
                    <td></td>
                    <td></td>
                  <% else %>
                    <td><%= r.group.title %></td>
                    <% if r.group.mentor.nil? %>
                      <td></td>
                    <% else %>
                      <td><%= r.group.mentor.name %></td>
                    <% end %>
                    <td><%= r.group.members %></td>
                  <% end %>
                  <td></td>
                  <% if r.status == "Pending"%>
                    <td><%= link_to "Accept", invitation_group_accept_child_path(r) %> or <%= link_to "Decline", invitation_decline_inv_path(r) %></td>
                  <% else %>
                    <td><%= r.status %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<%= link_to "Back", parent_path %>
