<% @page_title = "Create Group" %>
<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-2">
    <div class="col-sm-8 col-sm-offset-4">
      <h1 align="center" class="animated fadeInDown">Create Group</h1>
      <br>
      <br>
    </div>
    <div class="Sign_Form">
      <%= form_for(:group, :url => {:controller => 'group', :action => 'create'}, :html => {:class => "form-horizontal"}) do |g| %>
        <div class="form-group">
          <label for="inputTitle" class="col-sm-4 control-label">Title:</label>
          <div class="col-sm-8"><%= g.text_field :title, :class => 'form-control'%></div>
        </div>
        <div class='form-group'>
          <label for="inputTime" class = "col-sm-4 control-label">Time Available:</label>
          <div class='time-board time-board-input time-board-hover' value='<%= @child.time_slot%>' inputname='group[time_slot]'></div>
        </div>
        <div class="form-group">
          <label for="inputCompetitions" class="col-sm-4 control-label">Competitions:</label>
          <div class="col-sm-8 col-lg-6 col-lg-offset-1">
            <label class="radio-inline"><%= g.radio_button :competitions, 'FLL'%> FIRST LEGO League</label>
            <label class="radio-inline"><%= g.radio_button :competitions, 'Junior FLL'%> FIRST LEGO League Jr.</label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-4">
            <%= g.submit "Create" , :class => 'btn btn-success btn-block'%>
            <%= link_to "Back", parent_path, :class => 'btn btn-block btn-default' %>
          </div>
        </div>
      <% end %>
    </div>
    <% if @group.errors.any? %>
      <ul class="Signup_Errors">
        <% for message_error in @group.errors.full_messages %>
          <li>* <%= message_error %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
