
<% if @user.role == 'Parent'%>
<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>Group Information</h1>
  </div>
</div>
<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Your Group Information</h2>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Mentor</th>
          <th>Admin</th>
          <th>Members</th>
          <th>Available time</th>
          <th>Competition</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @group.children.each do |child| %>
          <tr>
            <td><%= @group.id %></td>
            <td><%= @group.title %></td>
            <% if @group.mentor.nil? %>
            <td> TBD </td>
            <%else%>
            <td><%= @group.mentor.name %></td>
            <% end %>
            <td><%= @group.admin.name %></td>
            <td><%= child.name %></td>
            <td><%= @group.time_slot %></td>
            <td><%= @group.competitions %></td>
            <td><%= link_to "Delete", {:controller => 'group', :action => 'change', :id => child.id}, data: {:confirm => 'Are you sure?'}  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


  </div>
</div>
<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Sent In</h2>
    <% if @rinvs.empty? %>
      <p align=center>None</p>
    <% else %>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Sender</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @rinvs.each do |rinv| %>
            <tr>
              <td><%= rinv.mentor_id %></td>
              <td><%= rinv.status %></td>
              <% if rinv.status == "Pending" %>
               <td><%= link_to "Accept", groupinvs_accept_inv_group_path(rinv)%></td>
               <td><%= link_to "Decline", groupinvs_decline_inv_path(rinv)%></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Sent Out</h2>
    <% if @sinvs.empty? %>
      <p align=center>None</p>
    <% else %>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Receiver</th>
            <th>Status</th>
            <th>dsfdsf</th>
          </tr>
        </thead>
        <tbody>
          <% @sinvs.each do |sinv| %>
            <tr>
              <td><%= sinv.mentor_id %></td>
              <td><%= sinv.status %></td>

              <% if sinv.status == "Pending" %>

              <td><%= link_to "Cancel Invitation", groupinvs_cancel_inv_path(sinv)%></td>
              <% end %> 
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<% session[:group_id] = @group.id %>
<%= link_to "Update Group Information", edit_group_path(@group) %><br />
<% if @group.mentor.nil? %>
  <%= link_to "Browse mentors", mentors_path %><br />
<%end%>
<% session[:child_id] = @child.id %>
<%= link_to "Browse members", child_index_path%><br />
<%= link_to "Close this group", { action: :destroy, id: @group.id }, data: {:confirm => 'Are you sure?'}, method: :delete %><br />
<%= link_to "Back", parent_path %>      

<% else %>

<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Group Information</h2>
    <table class='table table-hover'>
      <thead>
        <tr>
          
          <th>Members</th>
          <th>Available time</th>
          <th>Competition</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        
        <tr>
            
          <td><%= @group.members %></td>
          <div class='time-board time-board-hover' value = '<%=@group.time_slot%>' ></div>
          <td><%= @group.competitions %></td>
          <td><%= @group.description  %></td>
        </tr>
        
      </tbody>
    </table>

  </div>
</div>
<%= link_to "Back", group_index_path %> 
<% end %>