<h1>Group Information</h1>

<h2>Your Group Information</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Mentor</th>
    <th>Members</th>
    <th>Delete</th>
  </tr>
 <% @group.children.each do |child| %>
  <tr>
    <td><%= @group.id %></td>
    <td><%= @group.title %></td>
    <td><%= @group.mentor.name %></td>
    <td><%= child.name %></td>
    <td><%= link_to "Delete", group_path(@group),data: {:confirm => 'Are you sure?'} %></td>
    <%#add child#delete%>
  </tr>
  <% end %>
</table>
<br />
<%= link_to "Update Group Information", edit_group_path(@group) %><br /><br />
<%= link_to "Close this group", group_path(@group), data: {:confirm => 'Are you sure?'}, method: :delete %><br />