<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <h1 align="center" class="animated fadeInDown">Your Group</h1><br><br>
    <div class='col-sm-12'>
      <table class='table'>
        <tbody>
          <tr>
            <td>ID</td>
            <td><%= @group.id %></td>
          </tr>
          
          <tr>
            <td>Group</td>
            <td><%= @group.title %></td>
          </tr>
          <tr>
            <td>Competition</td>
            <td><%= @group.competitions %></td>
          </tr>
           <tr>
            <td>Admin</td>
            <td><%= @group.admin.name %></td>
          </tr>
          <tr>
            <td>Mentor</td>
            <% if !@group.mentor.nil? %>
            <td><%= @group.mentor.name %></td>
            <% else %>
            <td>TBD</td>
            <% end %>
          </tr>
          
          
        </tbody>
      </table>
      
      <hr>
      
      
    </div>
  </div>
</div>

  
  <div class='row'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2>Members</h2>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Name</th>
            
            <th>Parent</th>
            <th>Phone</th>
            <th>Email</th>
            
            <th>More</th>
          </tr>
        </thead>
        <tbody>
          <% @group.children.each do |child| %>
            <tr>
              <td><%= child.name %></td>
              <td><%= child.parent.name %></td>
              <td><%= child.parent.phone %></td>
              <td><%= child.parent.email %></td>
              
              <% if @user.parent.id == @group.admin_id %>
                <td><%= link_to "Delete", {:controller => 'group', :action => 'change', :id => child.id}, data: {:confirm => 'Are you sure?'}  %></td>
              <% else %>
                <td></td>
              <% end %>
            </tr>
          
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
      <div class='time-board time-board-hover' value = '<%=@group.time_slot%>' ></div>
    </div>      
  </div>

  <% if @user.parent.id == @group.admin_id %>
    
    <% session[:group_id] = @group.id %>
    <%= link_to "Update Group Information", edit_group_path(@group) %><br />
    <% if @group.mentor.nil? and @group.need_mentor == true %>
      <%= link_to "Browse mentors", mentors_path %><br />
    <%end%>
    <%# session[:child_id] = @child.id %>
    <% if @group.completed == false %>
      <%= link_to "Browse children", child_index_path%><br />
    <% end %>
    <%= link_to "Close this group", { action: :destroy, id: @group.id }, data: {:confirm => 'Are you sure?'}, method: :delete %><br />
    <% if @group.completed == false %>
      <%= link_to "Complete",{:controller => "group", :action => "set_complete", :id => @group.id}, data: {:confirm => 'Once you click OK, your group cannot add members.'} %><br/>  
    <% else if @group.need_mentor == false%>
      <%= link_to "My group need a mentor",{:controller => "group", :action => "set_need_mentor", :id => @group.id}, data: {:confirm => "if you click OK, you can browse mentors and mentors can find your group." } %><br/>
      <% end %>
    <% end %>
  
  <% end %>
  <%= link_to "Back", parent_path %> 

