<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jumbotron" id="boxshadow">
      <h1 align= "center" class="animated fadeInDown"><%= @parent.name %>'s Dashboard</h1>
      <br>
      <p align="right"><i class="fa fa-envelope grow"> <%= @parent.email %></i></p>
      <p align="right"><i class="fa fa-phone grow"> <%= @parent.phone %></i></p>
      <p align="right"><%= link_to "Update Your Profile", parent_edit_path , :class => 'btn btn-primary hover-shadow'%></p>
    </div>
  </div>
</div>
<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Your Children</h2>
    <% if @children.empty? %>
      <p align=center>None</p>
    <% else %>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th><%= link_to "#", parent_path(sort: '#') %></th>
            <th><%= link_to "Name", parent_path(sort: 'name') %></th>
            
            <th>Group<%#= link_to "Group", parent_path(sort: 'group') %></th>
            <th>Mentor</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @children.each do |child| %>
            <tr>
              <td><%= child.id %></td>
              <td><%= child.name %></td>
              
              <% if child.group.nil? %>
                <td><%= link_to "Search group", {:controller => "group", :action => "index_for_parent", :child_id => child.id}%> or <%= link_to "Create group", new_group_path(:child_id => child.id)%></td>
                <td></td>
              <% else %>
                
                <td><%= link_to child.group.title, group_path(:id => child.group.id, :child_id =>child.id) %></td>
                <% if child.group.mentor.nil? %>
                  <td></td>
                <% else %>
                  <td><%= child.group.mentor.name %></td>
                <% end %>
              <% end %>
              <td><i class='fa fa-eye<%= "-slash" if !child.visible %>'></i></td>
              <td><%= link_to "More", child_path(child) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <p align="right"><%= link_to '<i class="fa fa-plus"></i> Add Child'.html_safe, new_child_path , :class => 'btn btn-primary hover-shadow'%></p>
  </div>
</div>

<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Your Groups</h2>
    <% if @groups.empty? %>
      <p align=center>None</p>
    <% else %>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Mentor</th>
            <th>Members</th>
            <th>Complete</th>
            <th>Need_mentor</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td><%= group.id %></td>
              <td><%= group.title %></td>
              <% if group.mentor.nil? %>
                <td></td>
              <% else %>
                <td><%= group.mentor.name %></td>
              <% end %>
              <td><%= group.members %>  (<%= group.children.count%>)</td>
              <td><%= group.completed %></td>
              <td><%= group.need_mentor %></td>
              <td><%#= link_to "More", group_path(group)%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <p align="right"><%#= link_to '<i class="fa fa-plus"></i> Add Group'.html_safe, new_group_path , :class => 'btn btn-primary hover-shadow'%></p>
  </div>
</div>
<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Received Invitations from groups </h2>
    <% if @rinv.empty? %>
      <p align=center>None</p>
    <% else %>
      <table class='table table-hover'>
        <thead>
          <tr>
            
            <th>Receiver</th>
            <th>Group</th>
            <th>Mentor</th>
            <th>Member</th>
            <th></th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @rinv.each do |inv| %>
            <tr>
              
              <td><%= inv.receiver.name %></td>
              <% if inv.group.nil? %>
                <td></td>
                <td></td>
                <td></td>
              <% else %>
                <td><%= inv.group.title %></td>
                <% if inv.group.mentor.nil? %>
                  <td></td>
                <% else %>
                  <td><%= inv.group.mentor.name %></td>
                <% end %>
                <td><%= inv.group.members %></td>
              <% end %>
              <td></td>
              <% if inv.status == "Pending"%>
              <td><%= link_to "Accept", invitation_child_accept_group_path(inv) %> or <%= link_to "Decline", invitation_decline_inv_path(inv) %></td>
              <% else %>
              <td><%= inv.status %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Sent Invitations from my groups</h2>
    <% if @sinv.empty? %>
      <p align=center>None</p>
    <% else %>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Receiver</th>
            <th>Group</th>
            <th>Mentor</th>
            <th>Member</th>
            <th></th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @sinv.each do |inv| %>
            <tr>
              <td><%= inv.receiver.name %></td>
              <% if inv.group.nil? %>
                <td></td>
                <td></td>
                <td></td>
              <% else %>
                <td><%= inv.group.title %></td>
                <% if inv.group.mentor.nil? %>
                  <td></td>
                <% else %>
                  <td><%= inv.group.mentor.name %></td>
                <% end %>
                <td><%= inv.group.members %></td>
              <% end %>
              <td></td>
              <% if inv.status == "Pending"%>
              <td><%= link_to "Cancel", invitation_cancel_inv_path(inv) %></td>
              <% else %>
              <td><%= inv.status %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Received Request from children</h2>
    <% if @rrequest.empty? %>
      <p align=center>None</p>
    <% else %>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Sender</th>
            <th>Group</th>
            <th>Mentor</th>
            <th>Member</th>
            <th></th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @rrequest.each do |r| %>
            <tr>
              <td><%= r.sender.name %></td>
              <% if r.group.nil? %>
                <td></td>
                <td></td>
                <td></td>
              <% else %>
                <td><%= r.group.title %></td>
                <% if r.group.mentor.nil? %>
                  <td></td>
                <% else %>
                  <td><%= r.group.mentor.name %></td>
                <% end %>
                <td><%= r.group.members %></td>
              <% end %>
              <td></td>
              <% if r.status == "Pending"%>
              <td><%= link_to "Accept", invitation_group_accept_child_path(r) %> or <%= link_to "Decline", invitation_decline_inv_path(r) %></td>
              <% else %>
              <td><%= r.status %></td>
              <% end %>
              
              
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Sent Request from my children</h2>
    <% if @srequest.empty? %>
      <p align=center>None</p>
    <% else %>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Sender</th>
            <th>Group</th>
            <th>Mentor</th>
            <th>Member</th>
            <th></th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @srequest.each do |r| %>
            <tr>
              <td><%= r.sender.name %></td>
              <% if r.group.nil? %>
                <td></td>
                <td></td>
                <td></td>
              <% else %>
                <td><%= r.group.title %></td>
                <% if r.group.mentor.nil? %>
                  <td></td>
                <% else %>
                  <td><%= r.group.mentor.name %></td>
                <% end %>
                <td><%= r.group.members %></td>
              <% end %>
              <td></td>
              <% if r.status == "Pending"%>
              <td><%= link_to "Cancel", invitation_cancel_inv_path(r) %></td>
              <% else %>
              <td><%= r.status %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>