<h1>Parent Dashboard</h1>

ID: <%= @parent.user_id %><br />
Name: <%= @parent.firstname %> <%= @parent.lastname %><br />
Phone: <%= @parent.phone %><br />
Email: <%= @parent.email %><br />
<%= link_to "Update Personal Information", parent_edit_path %>

<h2>Children</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Group</th>
    <th>Mentor</th>
    <th></th>
  </tr>
  <% @children.each do |child| %>
  <tr>
    <td><%= child.id %></td>
    <td><%= child.firstname %> <%= child.lastname %></td>
    <td><%= child.group.title %></td>
    <td><%= child.group.mentor.firstname %> <%= child.group.mentor.lastname %></td>
    <td><a href="child/<%= child.id %>">More</a></td>
  </tr>
  <% end %>
</table>

<h2>Inbox</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Sender</th>
    <th>Mentor</th>
    <th>Member</th>
    <th>Status</th>
  </tr>
  <% @rinv.each do |inv| %>
  <tr>
    <td><%= inv.group.title %></td>
    <td><a href="child/<%= inv.sender_id %>"><%= inv.sender.firstname %> <%= inv.sender.lastname %></a></td>
    <td><%= inv.group.mentor.firstname %> <%= inv.group.mentor.lastname %></td>
    <td>
      <% inv.group.children.each do |child| %>
         <%= child.firstname %> <%= child.lastname %>;
      <% end %>
    </td>
    <td><%= inv.status %></td>
  </tr>
  <% end %>
</table>


<h2>Sent out</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Receiver</th>
    <th>Mentor</th>
    <th>Member</th>
    <th>Status</th>
  </tr>
  <% @sinv.each do |inv| %>
  <tr>
    <td><%= inv.group.title %></td>
    <td><%= inv.receiver.firstname %> <%= inv.receiver.lastname %></td>
    <td><%= inv.group.mentor.firstname %> <%= inv.group.mentor.lastname %></td>
    <td>
      <% inv.group.children.each do |child| %>
         <%= child.firstname %> <%= child.lastname %>;
      <% end %>
    </td>
    <td><%= inv.status %></td>
  </tr>
  <% end %>
</table>