<h1>Parent Dashboard</h1>

ID: <%= @parent.user_id %><br />
Name: <%= @parent.name %><br />
Phone: <%= @parent.phone %><br />
Email: <%= @parent.email %><br />
<%= link_to "Update Personal Information", parent_edit_path %>

<h2>Children</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Group</th>
    <th>Mentor</th>
    <th></th>
  </tr>
  <% @children.each do |child| %>
  <tr>
    <td><%= child.id %></td>
    <td><%= child.name %></td>
    <td><%= child.group.title %></td>
    <td><%= child.group.mentor.name %></td>
    <td><%= link_to "More", child_path(child) %></td>
  </tr>
  <% end %>
</table>

<h2>Groups</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Mentor</th>
    <th>Menbers</th>
  </tr>
  <% @groups.each do |group| %>
  <tr>
    <td><%= group.id %></td>
    <td><%= group.title %></td>
    <td><%= group.mentor.name %></td>
    <td><%= group.members %></td>
  </tr>
  <% end %>
</table>

<h2>Inbox</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Sender</th>
    <th>Mentor</th>
    <th>Member</th>
    <th>Status</th>
  </tr>
  <% @rinv.each do |inv| %>
  <tr>
    <td><%= inv.group.title %></td>
    <td><%= link_to "#{inv.sender.name}", child_path(inv.sender) %></td>
    <td><%= inv.group.mentor.name %></td>
    <td><%= inv.group.members %></td>
    <td><%= inv.status %></td>
  </tr>
  <% end %>
</table>


<h2>Sent out</h2>
<table>
  <tr>
    <th>Title</th>
    <th>Receiver</th>
    <th>Mentor</th>
    <th>Member</th>
    <th>Status</th>
  </tr>
  <% @sinv.each do |inv| %>
  <tr>
    <td><%= inv.group.title %></td>
    <td><%= inv.receiver.name %></td>
    <td><%= inv.group.mentor.name %></td>
    <td><%= inv.group.members %></td>
    <td><%= inv.status %></td>
  </tr>
  <% end %>
</table>